In [1]:
# Reference: https://scikit-learn.org/stable/tutorial/text_analytics/working_with_text_data.html
# Following work I submitted in HW3

In [13]:
import pandas as pd
import numpy as np
import matplotlib
import datetime
import pickle

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score

## Load data

In [3]:
# load data
train = pd.read_csv("../data/svm_data/train.csv")
test = pd.read_csv("../data/svm_data/test.csv")

In [6]:
X_train = train['defn']
y_train = train['cat']
X_test = test['defn']
y_test = test['cat']

## Logistic comparison loop

In [10]:
# test combinations of: min_df, max_df, lower for tokenizer
results = []
for max_df in [1.0, .1, .01]:
    for min_df in [1, 3, 5]:
        for lower in [True, False]:
            print("Working on: max_df = " + str(max_df) + " min_df = " + str(min_df) + " lower = " + str(lower))
            # raw counts
            # to print time: https://www.geeksforgeeks.org/get-current-date-and-time-using-python/
            print("Count vectorizing at " + str(datetime.datetime.now()))
            cv = CountVectorizer(max_df = max_df, min_df = min_df, lowercase = lower)
            X_train_counts = cv.fit_transform(X_train)
            X_test_counts = cv.transform(X_test)
            # record vocab size for tracking
            vocab_size = X_train_counts.shape[1]
            # tf-idf version
            print("TF-IDF vectorizing at " + str(datetime.datetime.now()))
            tv = TfidfTransformer()
            X_train_tfidf = tv.fit_transform(X_train_counts)
            X_test_tfidf = tv.transform(X_test_counts)


            # fit logistic regression on tf-idf version
            print("Fitting TF-IDF count model at " + str(datetime.datetime.now()))
            model = LogisticRegression(random_state = 771, max_iter = 1000)
            model.fit(X_train_tfidf, y_train)

            # evaluate 
            print("Evaluating TF-IDF model at " + str(datetime.datetime.now()))
            tf_y_train_pred = model.predict(X_train_tfidf)
            tf_y_test_pred = model.predict(X_test_tfidf)

            tf_train_f1_micro = f1_score(y_train, tf_y_train_pred, average = 'micro')
            tf_train_f1_macro = f1_score(y_train, tf_y_train_pred, average = 'macro')

            tf_test_f1_micro = f1_score(y_test, tf_y_test_pred, average = 'micro')
            tf_test_f1_macro = f1_score(y_test, tf_y_test_pred, average = 'macro')

            # record
            curr_tfidf_results = ("tfidf", max_df, min_df, lower, vocab_size, tf_train_f1_micro, 
                            tf_train_f1_macro, tf_test_f1_micro, tf_test_f1_macro)
            print(curr_tfidf_results)
            results.append(curr_tfidf_results)
            print("--------------------------------------------------------")
                
                
full_results = pd.DataFrame(results, columns = ["type", "max_df", "min_df", "lower", "vocab_size",
                                               "train_micro_f1", "train_macro_f1", "test_micro_f1", "test_macro_f1"])
full_results.to_csv("../models/logistic_results.csv", index = False)

Working on: max_df = 1.0 min_df = 1 lower = True
Count vectorizing at 2020-11-22 12:44:36.390843
TF-IDF vectorizing at 2020-11-22 12:44:56.463881
Fitting TF-IDF count SVM at 2020-11-22 12:44:58.065212
Evaluating TF-IDF SVM at 2020-11-22 12:53:15.500618
('tfidf', 1.0, 1, True, 314448, 0.551372681132607, 0.5512513477651412, 0.4040835261695817, 0.4038787504594819)
--------------------------------------------------------
Working on: max_df = 1.0 min_df = 1 lower = False
Count vectorizing at 2020-11-22 12:53:26.104429
TF-IDF vectorizing at 2020-11-22 12:53:47.326347
Fitting TF-IDF count SVM at 2020-11-22 12:53:49.165296
Evaluating TF-IDF SVM at 2020-11-22 13:01:16.730051
('tfidf', 1.0, 1, False, 403015, 0.572992892212361, 0.5728954083306359, 0.40474073419525153, 0.4046529784400566)
--------------------------------------------------------
Working on: max_df = 1.0 min_df = 3 lower = True
Count vectorizing at 2020-11-22 13:01:27.576179
TF-IDF vectorizing at 2020-11-22 13:01:46.428601
Fitting TF-IDF count SVM at 2020-11-22 13:01:47.622652
Evaluating TF-IDF SVM at 2020-11-22 13:07:08.220482
('tfidf', 1.0, 3, True, 89225, 0.5095888860047827, 0.5094016755142587, 0.4028132921703881, 0.4025821349710565)
--------------------------------------------------------
Working on: max_df = 1.0 min_df = 3 lower = False
Count vectorizing at 2020-11-22 13:07:19.941683
TF-IDF vectorizing at 2020-11-22 13:07:39.325894
Fitting TF-IDF count SVM at 2020-11-22 13:07:40.589985
Evaluating TF-IDF SVM at 2020-11-22 13:13:23.970667
('tfidf', 1.0, 3, False, 113168, 0.5251050704427593, 0.5249618932081128, 0.40431548194334754, 0.40416405698775665)
--------------------------------------------------------
Working on: max_df = 1.0 min_df = 5 lower = True
Count vectorizing at 2020-11-22 13:13:34.516729
TF-IDF vectorizing at 2020-11-22 13:13:52.457451
Fitting TF-IDF count SVM at 2020-11-22 13:13:53.590186
Evaluating TF-IDF SVM at 2020-11-22 13:18:47.078621
('tfidf', 1.0, 5, True, 62986, 0.498118120716412, 0.4979021818259892, 0.4026862687704687, 0.4024082001431919)
--------------------------------------------------------
Working on: max_df = 1.0 min_df = 5 lower = False
Count vectorizing at 2020-11-22 13:18:57.580805
TF-IDF vectorizing at 2020-11-22 13:19:16.576168
Fitting TF-IDF count SVM at 2020-11-22 13:19:17.861719
Evaluating TF-IDF SVM at 2020-11-22 13:24:10.618107
('tfidf', 1.0, 5, False, 79026, 0.5113685942927834, 0.5112075669720698, 0.40380738834367014, 0.40362840594475013)
--------------------------------------------------------
Working on: max_df = 0.1 min_df = 1 lower = True
Count vectorizing at 2020-11-22 13:24:21.066587
TF-IDF vectorizing at 2020-11-22 13:24:40.342114
Fitting TF-IDF count SVM at 2020-11-22 13:24:41.609599
Evaluating TF-IDF SVM at 2020-11-22 13:30:26.261744
('tfidf', 0.1, 1, True, 314425, 0.5541271559460758, 0.5540270389111172, 0.4038902296914436, 0.403710770910402)
--------------------------------------------------------
Working on: max_df = 0.1 min_df = 1 lower = False
Count vectorizing at 2020-11-22 13:30:36.917284
TF-IDF vectorizing at 2020-11-22 13:30:55.656553
Fitting TF-IDF count SVM at 2020-11-22 13:30:57.044005
Evaluating TF-IDF SVM at 2020-11-22 13:37:44.429603
('tfidf', 0.1, 1, False, 402993, 0.5758688676692311, 0.5757887724141555, 0.40403934411743586, 0.4040103398733456)
--------------------------------------------------------
Working on: max_df = 0.1 min_df = 3 lower = True
Count vectorizing at 2020-11-22 13:37:56.350983
TF-IDF vectorizing at 2020-11-22 13:38:15.126870
Fitting TF-IDF count SVM at 2020-11-22 13:38:16.085482
Evaluating TF-IDF SVM at 2020-11-22 13:43:01.144838
('tfidf', 0.1, 3, True, 89202, 0.5102916567717279, 0.5101216166778023, 0.40255372261403105, 0.4023184291442446)
--------------------------------------------------------
Working on: max_df = 0.1 min_df = 3 lower = False
Count vectorizing at 2020-11-22 13:43:11.936578
TF-IDF vectorizing at 2020-11-22 13:43:31.059761
Fitting TF-IDF count SVM at 2020-11-22 13:43:32.070731
Evaluating TF-IDF SVM at 2020-11-22 13:48:22.052100
('tfidf', 0.1, 3, False, 113146, 0.525875494977053, 0.5257568239493552, 0.40391784347403475, 0.4037902530139279)
--------------------------------------------------------
Working on: max_df = 0.1 min_df = 5 lower = True
Count vectorizing at 2020-11-22 13:48:37.932730
TF-IDF vectorizing at 2020-11-22 13:49:07.020455
Fitting TF-IDF count SVM at 2020-11-22 13:49:08.253672
Evaluating TF-IDF SVM at 2020-11-22 13:54:10.863722
('tfidf', 0.1, 5, True, 62963, 0.4983625026923438, 0.4981593213535958, 0.4019738331796166, 0.401674316929647)
--------------------------------------------------------
Working on: max_df = 0.1 min_df = 5 lower = False
Count vectorizing at 2020-11-22 13:54:21.507404
TF-IDF vectorizing at 2020-11-22 13:54:40.138946
Fitting TF-IDF count SVM at 2020-11-22 13:54:41.088563
Evaluating TF-IDF SVM at 2020-11-22 13:59:25.180438
('tfidf', 0.1, 5, False, 79004, 0.5120975981531902, 0.511961712927674, 0.4029900203789715, 0.4028374082499358)
--------------------------------------------------------
Working on: max_df = 0.01 min_df = 1 lower = True
Count vectorizing at 2020-11-22 13:59:35.583881
TF-IDF vectorizing at 2020-11-22 13:59:53.808785
Fitting TF-IDF count SVM at 2020-11-22 13:59:54.650038
Evaluating TF-IDF SVM at 2020-11-22 14:05:23.557110
('tfidf', 0.01, 1, True, 314181, 0.5608400664939884, 0.5607310772338596, 0.3997923443549144, 0.39965182587089787)
--------------------------------------------------------
Working on: max_df = 0.01 min_df = 1 lower = False
Count vectorizing at 2020-11-22 14:05:34.871553
TF-IDF vectorizing at 2020-11-22 14:05:55.282987
Fitting TF-IDF count SVM at 2020-11-22 14:05:56.481847
Evaluating TF-IDF SVM at 2020-11-22 14:11:27.007939
('tfidf', 0.01, 1, False, 402745, 0.5837871198272482, 0.5837169420883771, 0.40062628058916766, 0.40064107903108725)
--------------------------------------------------------
Working on: max_df = 0.01 min_df = 3 lower = True
Count vectorizing at 2020-11-22 14:11:38.300809
TF-IDF vectorizing at 2020-11-22 14:11:58.847338
Fitting TF-IDF count SVM at 2020-11-22 14:11:59.459089
Evaluating TF-IDF SVM at 2020-11-22 14:15:28.052507
('tfidf', 0.01, 3, True, 88958, 0.5112098150428842, 0.5110101030195807, 0.3990302039553983, 0.3987828468987502)
--------------------------------------------------------
Working on: max_df = 0.01 min_df = 3 lower = False
Count vectorizing at 2020-11-22 14:15:39.485133
TF-IDF vectorizing at 2020-11-22 14:15:59.163710
Fitting TF-IDF count SVM at 2020-11-22 14:15:59.860859
Evaluating TF-IDF SVM at 2020-11-22 14:18:58.199364
('tfidf', 0.01, 3, False, 112898, 0.527651061197665, 0.5275522751016428, 0.3994885927464116, 0.3993915090773104)
--------------------------------------------------------
Working on: max_df = 0.01 min_df = 5 lower = True
Count vectorizing at 2020-11-22 14:19:09.238194
TF-IDF vectorizing at 2020-11-22 14:19:27.725420
Fitting TF-IDF count SVM at 2020-11-22 14:19:28.272205
Evaluating TF-IDF SVM at 2020-11-22 14:22:26.257775
('tfidf', 0.01, 5, True, 62719, 0.4980974103794686, 0.4978667129353074, 0.3988148164511871, 0.3985159849178747)
--------------------------------------------------------
Working on: max_df = 0.01 min_df = 5 lower = False
Count vectorizing at 2020-11-22 14:22:37.266195
TF-IDF vectorizing at 2020-11-22 14:22:56.225207
Fitting TF-IDF count SVM at 2020-11-22 14:22:56.870595
Evaluating TF-IDF SVM at 2020-11-22 14:26:30.988571
('tfidf', 0.01, 5, False, 78756, 0.512861119241836, 0.5127324441720106, 0.39923454594657287, 0.3991163170718491)
--------------------------------------------------------

In [38]:
full_results['of'] = full_results['train_micro_f1'] - full_results['test_micro_f1']

In [39]:
full_results.sort_values(by = "of", ascending = False)

,type,max_df,min_df,lower,vocab_size,train_micro_f1,train_macro_f1,test_micro_f1,test_macro_f1,of
13,tfidf,0.01,1,False,402745,0.583787,0.583717,0.400626,0.400641,0.183161
7,tfidf,0.10,1,False,402993,0.575869,0.575789,0.404039,0.404010,0.171830
1,tfidf,1.00,1,False,403015,0.572993,0.572895,0.404741,0.404653,0.168252
12,tfidf,0.01,1,True,314181,0.560840,0.560731,0.399792,0.399652,0.161048
6,tfidf,0.10,1,True,314425,0.554127,0.554027,0.403890,0.403711,0.150237
0,tfidf,1.00,1,True,314448,0.551373,0.551251,0.404084,0.403879,0.147289
15,tfidf,0.01,3,False,112898,0.527651,0.527552,0.399489,0.399392,0.128162
9,tfidf,0.10,3,False,113146,0.525875,0.525757,0.403918,0.403790,0.121958
3,tfidf,1.00,3,False,113168,0.525105,0.524962,0.404315,0.404164,0.120790
17,tfidf,0.01,5,False,78756,0.512861,0.512732,0.399235,0.399116,0.113627
14,tfidf,0.01,3,True,88958,0.511210,0.511010,0.399030,0.398783,0.112180
11,tfidf,0.10,5,False,79004,0.512098,0.511962,0.402990,0.402837,0.109108
8,tfidf,0.10,3,True,89202,0.510292,0.510122,0.402554,0.402318,0.107738
5,tfidf,1.00,5,False,79026,0.511369,0.511208,0.403807,0.403628,0.107561
2,tfidf,1.00,3,True,89225,0.509589,0.509402,0.402813,0.402582,0.106776
16,tfidf,0.01,5,True,62719,0.498097,0.497867,0.398815,0.398516,0.099283
10,tfidf,0.10,5,True,62963,0.498363,0.498159,0.401974,0.401674,0.096389
4,tfidf,1.00,5,True,62986,0.498118,0.497902,0.402686,0.402408,0.095432

In [14]:
# best params are 1.0, 1, false
cv = CountVectorizer(max_df = 1.0, min_df = 1, lowercase = False)
X_train_counts = cv.fit_transform(X_train)
X_test_counts = cv.transform(X_test)

# tf-idf version
print("TF-IDF vectorizing at " + str(datetime.datetime.now()))
tv = TfidfTransformer()
X_train_tfidf = tv.fit_transform(X_train_counts)
X_test_tfidf = tv.transform(X_test_counts)


# fit logistic regression on tf-idf version
print("Fitting TF-IDF count model at " + str(datetime.datetime.now()))
model = LogisticRegression(random_state = 771, max_iter = 1000)
model.fit(X_train_tfidf, y_train)

# evaluate 
print("Evaluating TF-IDF model at " + str(datetime.datetime.now()))
tf_y_train_pred = model.predict(X_train_tfidf)
tf_y_test_pred = model.predict(X_test_tfidf)

tf_train_f1_micro = f1_score(y_train, tf_y_train_pred, average = 'micro')
tf_train_f1_macro = f1_score(y_train, tf_y_train_pred, average = 'macro')

tf_test_f1_micro = f1_score(y_test, tf_y_test_pred, average = 'micro')
tf_test_f1_macro = f1_score(y_test, tf_y_test_pred, average = 'macro')

with open('../models/best_logistic.p', 'wb') as f:
    pickle.dump(model, f)

TF-IDF vectorizing at 2020-11-22 18:12:16.869536
Fitting TF-IDF count model at 2020-11-22 18:12:18.981698
Evaluating TF-IDF model at 2020-11-22 18:20:08.319788

In [23]:
with open('../models/logistic_cv.p', 'wb') as f:
    pickle.dump(cv, f) 

with open('../models/logistic_tfidf.p', 'wb') as f:
    pickle.dump(tv, f)

## Look at accuracy by class

In [15]:
by_class = pd.DataFrame()
by_class["pred"] = tf_y_test_pred
by_class["true"] = y_test

In [16]:
by_class["correct"] = by_class["pred"] == by_class["true"]

In [18]:
# https://stackoverflow.com/questions/23377108/pandas-percentage-of-total-with-groupby
by_class.groupby(["true", "correct"]).size().groupby(level=0).apply(lambda x: 100 * x / float(x.sum()))

true           correct
bad            False      55.153074
               True       44.846926
controversial  False      65.569661
               True       34.430339
good           False      57.604056
               True       42.395944
dtype: float64

## Evaluate on the BERT test set

In [42]:
bert_test = pd.read_csv("../data/final_eval_set.csv", index_col = 0)

In [43]:
bert_test.rename(columns = {'pred':'bert_pred', 'match':'bert_match'}, inplace = True)

In [44]:
bert_test.head()

,bert_pred,true,text,bert_match
0,0,0,"One nickname for the city of Columbus, Ohio. C...",True
1,1,1,-adjective ;; used to denote an ignorant or fo...,True
2,2,0,someone that is really stupid.,False
3,2,2,Nasty pieces of poopoo that just will not come...,True
4,0,2,A hardedend clump of fecal matter attached to ...,False

In [45]:
int_cats = {"good": 0, "controversial": 1, "bad": 2}

In [47]:
X_bert_test = tv.transform(cv.transform(bert_test['text']))
y_pred_bert_test = model.predict(X_bert_test)
bert_test['log_pred'] = pd.Series(y_pred_bert_test).map(int_cats)
bert_test['log_match'] = bert_test['log_pred'] == bert_test['true']

In [48]:
bert_test.groupby('log_match').size().transform(lambda x: round(x/sum(x),3))

log_match
False    0.6
True     0.4
dtype: float64

In [50]:
bert_test.head()

,bert_pred,true,text,bert_match,log_pred,log_match
0,0,0,"One nickname for the city of Columbus, Ohio. C...",True,1,False
1,1,1,-adjective ;; used to denote an ignorant or fo...,True,1,True
2,2,0,someone that is really stupid.,False,2,False
3,2,2,Nasty pieces of poopoo that just will not come...,True,2,True
4,0,2,A hardedend clump of fecal matter attached to ...,False,2,True

In [49]:
bert_test.to_csv("../data/final_eval_set.csv")

## Example prediction

In [39]:
tf_y_test_pred

array(['bad', 'controversial', 'controversial', ..., 'controversial',
       'good', 'bad'], dtype=object)

In [36]:
def pred_ex(text, count_vectorizer, tfidf_vectorizer, model):
    text = tfidf_vectorizer.transform(count_vectorizer.transform([text]))
    pred = model.predict(text)
    print(pred[0])

In [41]:
pred_ex("this could be a very good definition", cv, tv, svm_tf)
pred_ex("nonsense nonsense yada yada", cv, tv, svm_tf)
pred_ex("this is an example of a definition with interesting words and content like a car and a house", cv, tv, svm_tf)
pred_ex("merrily we roll along", cv, tv, svm_tf)
pred_ex("rudolph the red-nosed reindeer had a very shiny nose", cv, tv, svm_tf)

bad
bad
bad
controversial
bad